* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.4;
    color: #444;
    background: #ffffff;
    height: 100vh;
  }

  .app_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


  